  @layer base {
    :root {
      --font-size-base: 16px; /* Tamaño base por defecto */
    }
  
    @media (max-width: 640px) { /* sm */
      :root {
        --font-size-base: 12px; /* Se reduce en móviles */
      }
    }
    html {
      font-size: var(--font-size-base);
    }
  }